/* ADD CUSTOM STYLES HERE */
#detailsArray{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/* Login bar styles */
@media screen and (max-width: 768px) {
    #login-bar h1 {
        font-size: 25px;
    }
}
@media screen and (min-width: 768px) {
    #login-bar h1 {
        font-size: 30px;
    }
}

@media print {
    /* Hides the elements when printing */
    .no-print {
        display: none;
    }
    a {
        text-decoration: none !important;
    }
}

/* Nav menu style */
#my-navbar .active {
    border-bottom: 3px #1a661a solid;
}
li.nav-item {
	margin: 0 10px;
}

.show {
    opacity: 1!important;
    width: 250px!important;
    transition: all 0.4s;
    color: unset!important;
}

/* Section titles style */
p.bg-primary {
    padding-left: 5px;
}
/*view_user_course style*/
.objectiveCardContainer{
    max-width: 350px;
    width: calc(50% - .4rem);
    min-width: 240px;
    margin-bottom: .5rem;
    margin-left: .2rem;
    margin-right: .2rem;
}
.objectiveCardHeader{
    padding-left: .75rem;
    padding-right: .75rem;
}
.objectiveCardHeader a{
    color: white!important;
}
.objectiveCardDescription{
    padding-left: .75rem;
    padding-right: .75rem;
    display: flex;
    align-items: center;
}
.objectiveCardFooter{
    display: flex;
    align-items: center;
    padding-left: .3rem;
    padding-right: .3rem;
    justify-content: space-around;
    width: 100%;
    padding-bottom: .2rem;
}
.objectiveCardTaxonomy{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    margin: 0;
    margin-right: .5rem;

}
.objectiveCardTaxonomy a{
    color: white!important;

}
#objectiveListContentResponsive{
    display: none!important;
}
.acquisitionStatusSelect{
    min-width: 130px;
}

@media screen and (max-width: 770px){
    #objectiveListContent{
        display: none;
    }
    #objectiveListContentResponsive{
        display: flex!important;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

#navigator {
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 520px){
    .objectiveCardContainer{
        min-width: 280px;
        width: 65%;
    }
    #apprenticeslist{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }
    #apprenticeslist tr{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #apprenticeslist tr td:nth-child(1){
        min-width: 100px;
        width: 20%;
        padding: 0 5px;
        word-wrap: break-word;
    }
    #apprenticeslist tr td:nth-child(2){
        padding: 0 5px;
        min-width: 130px;
        max-width: 130px;

    }
    #apprenticeslist tr td:nth-child(3) {
        width: 100px;
        max-width: 100px!important;
        min-width: unset!important;
        display: flex;
        justify-content: center;
        padding: 0;

    }
    .progressContainer{
        width: 100%;
    }
    .list-apprentice-table-header{
        display: none;
    }

}
@media all and (max-width: 475px){

    .responsiveTable th{
        display: none;
    }
    .responsiveTable td .descTitle{
        display: block!important;
        font-size: 0.8rem;
        color: #665d40;
    }
    .responsiveTable tr{
        display: flex;
    }
    .responsiveTable td{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 10px!important;
    }
    .responsiveTable td:nth-child(2){
    }
}
