/* ADD CUSTOM STYLES HERE */
#detailsArray{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/* Login bar styles */
@media screen and (max-width: 768px) {
    #login-bar h1 {
        font-size: 25px;
    }
}
@media screen and (min-width: 768px) {
    #login-bar h1 {
        font-size: 30px;
    }
}

/* Nav menu style */
#my-navbar .active {
    border-bottom: 3px #1a661a solid;
}
li.nav-item {
	margin: 0 10px;
}

.show {
    opacity: 1!important;
    width: 250px!important;
    transition: all 0.4s;
    color: unset!important;
}

/* Section titles style */
p.bg-primary {
    padding-left: 5px;
}
